:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #ff7a00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* header menu  */
/* Submenu visibility on hover */
.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* To position submenus to the right of the parent item */
.nav-item.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 38px;
  left: 45%;
  margin-top: -1px;
}

/* Ensure nested submenus (sub-submenus) show correctly */
.nav-item.dropdown .dropdown-menu .dropdown-menu {
  left: 100%; /* Position sub-submenus to the right of the submenu */
}

/* Styling for mega-dropdown */
.mega-dropdown:hover > .dropdown-menu {
  display: block;
}

/* Optional: add some spacing between submenus */
.dropdown-menu {
  padding: 10px;
}

/* Make sure the dropdown menu doesn't overflow the viewport */
.navbar-nav {
  position: relative;
  z-index: 10;
}

/* Optional styling for the submenu when hovered */
.dropdown-menu > .dropdown-item:hover {
    background-color: var(--primary-color);
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--primary-color);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    background-color: var(--primary-color);
}